<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>
  <title>CookBook</title>

  <!-- Begin Templates -->

  <!-- Begin Search Form -->
  <script type="text/template" id="search-form">
    <form role="form" id="search" class="animated bounceInRight">
      <h2>What do you have in your fridge/pantry?</h2>
      <div class="form-group">
        <input type="text" class="form-control" id="ing1">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="ing2">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="ing3">
      </div>
      <button type="submit" id="ing-search" class="btn btn-default">Find Recipes</button>
      <!-- <p>Or...</p> -->
      <!-- <button type="submit" id="random-search" class="btn btn-default">Surprise Me!</button> -->
    </form>
  </script>
  <!-- End search form -->

  <!-- Begin Recipe cards -->
  <script type="text/template" id="search-results">

    {{#recipeCardBlock}}
      <div class="col-sm-6 col-md-4 recipe-card animated flipInX">
        <div class="thumbnail">
          <div class="thumbnail-image" style="background : url('{{image_url}}') no-repeat center;">
            <a href="{{f2f_url}}" target='_blank'></a>
            </div>
          <div class="caption">
            <a href="{{f2f_url}}" target='_blank'><h3>{{title}}</h3></a>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{recipe_id}}" data-action="save-recipe-button" aria-expanded="false" aria-controls="collapseExample">Save this recipe</button>
            <div class="collapse" id="{{recipe_id}}">
              <div class="well">You saved this recipe</div>
            </div>
          </div>
        </div>
      </div>
    {{/recipeCardBlock}}

  </script>
  <!-- End Recipe cards -->

  <!-- End templates -->
</head>
<body>
  <%= render "menu" %>
  <div id="container">
    <div id="welcome-box">
      <h1 class="header animated bounceInDown">Hey, there!</h1>
      <h2 class="header animated bounceInDown">You look hungry</h2>
      <h2 class="header animated bounceInDown">Let's find you something to eat</h2>
      <button id="get-started" class="animated bounceInLeft btn btn-primary">Get Started</button>
    </div>
  </div>
</body>
</html>