<% if current_user %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>
  <title>Dinner Plan</title>
</head>
<body>
  <%= render "menu" %>
  <div id="container">
    <div id="temp">
      <h2>This page is under construction</h2>
    </div>
  </div>
</body>
</html>
<% end %>