/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require ./animate
 *= require_tree .
 *= require_self
 */

body {
  background-color: #2980b9;
  color: #ecf0f1
}

#container {
  text-align: center;
}

form.new_user {
  display: block;
  max-width: 175px;
  margin: 0 auto;
}

.actions input {
  color: #2c3e50;
}

#welcome {
  margin-top: 10%;
}

h1 {
  margin-top: 4%;
  text-align: center;
  font-family: 'Buda', cursive;
}

h2 {
  text-align: center;
  font-family: 'Buda', cursive;
}

#get-started {
  margin: 3%;
  color: #ecf0f1;
  background-color: #2c3e50
}

#search {
  margin: 0 auto;
  max-width: 50%;
}

.thumbnail {
  text-align: center;
}